body
    {
        font-family: 'Times New Roman', Times, serif;
        width: 89%;
        margin: 0 auto;
        background: linear-gradient(to right, rgb(37, 37, 15),rgb(196, 155, 94))
    }
header
    {
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgb(143, 90, 31);
        border-radius: 7px;
        margin-top: 10px;
    }
.logo img
    {
        width: 50%;
        padding-top: 50px;
    }
.navegacao 
    {
        overflow: hidden;
    }
.navegacao a
    {
        float: right;
        color: rgb(34, 29, 29);
        text-decoration: none;
        padding: 7px;
    }
.navegacao a:hover
    {
        color: aliceblue;
        background-color: rgb(126, 81, 30);
    }
.principal
    {
        display: flex;
        flex-direction: row;
    }
.conteudo
    {
        float: left;
        margin: 15px 10px 25px 10px;    
        background-color: rgb(250, 167, 71);
        text-align: justify;    
        padding: 15px;
        border-radius: 7px;
        box-shadow: 10px 10px 10px #08101a98;   
    }
.central
    {
        width: 100%;
        float: left;
        margin: 15px 10px 25px 10px;    
        background-color: rgb(250, 167, 71);
        text-align: justify;    
        padding: 15px;
        border-radius: 7px;
        box-shadow: 10px 10px 10px #08101a98;  
    }
.rodape
    {
        color: rgb(85, 77, 19);
        font-size: 10px;
        text-align: center;
        padding: 20px;
    }
@media screen  and (max-width:600px)    /*Responsividade -> alteração do layout de acordo com o tamanho da tela*/
    {
        body,.principal,.conteudo   /*Define os escopos a serem alterados*/
        {
            width: 100%;
            flex-direction: column;
            padding: 0px;
        }
    }
